<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Hello</title>
</head>
<body>
<p>名字：{{.user.Name}}</p>
<p>年龄：{{.user.Age}}</p>
<p>性别：{{.user.Gender}}</p>
<p>-----------</p>
<p>名字：{{.m.name}}</p>
<p>年龄：{{.m.age}}</p>
<p>性别：{{.m.gender}}</p>
</body>

</html>
